@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monstaap;
}
.card{
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
}
.img1 img{
    height: 200px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -80px;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.unerline {
    width: 130px;
    height: 5px;
    background-color: aqua;
    margin: auto;
}
.main{
    padding: 10px;
    font-family: 'poppins', sans-serif;
}